body {
  background: blanchedalmond;
  --a: red;
  --b: lightblue;
  --c: yellow;
}

.a, .b, .c {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.b {
  flex-grow: 1;
}

.a, .c {
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .container {
      flex-direction: row; 
      flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }

  .a, .b, .c {
    margin: 1em;
  }
}